/* main Shops page  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #4f46e5;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

nav a.active {
    color: #4f46e5;
}

/* Hero Section */
.hero {
    background: #f9fafb;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    color: #111827;
}

.hero h1 span {
    color: #4f46e5;
}

.hero p {
    max-width: 700px;
    margin: 20px auto;
    color: #6b7280;
    font-size: 16px;
}

/* Categories */
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    max-width: 900px;
    margin: 50px auto 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.card i {
    font-size: 36px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 5px;
    color: #111827;
}

.card p {
    color: #6b7280;
    font-size: 14px;
}

/* Icon Colors */
.blue {
    color: #2563eb;
}

.green {
    color: #16a34a;
}

.yellow {
    color: #f59e0b;
}

.purple {
    color: #7c3aed;
}

/* Footer */
footer {
    background: #111827;
    color: #d1d5db;
    padding: 50px 20px 20px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

footer h4 {
    margin-bottom: 15px;
    color: #fff;
}

footer a {
    display: block;
    color: #9ca3af;
    text-decoration: none;
    margin-bottom: 8px;
}

footer a:hover {
    color: #fff;
}

footer p {
    font-size: 14px;
}

footer i {
    margin-right: 8px;
}

.copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #9ca3af;
}